certifi==2020.4.5.1
chardet==3.0.4
environ==1.0
idna==2.9
python-dateutil==2.8.0
python-dotenv==0.13.0
python-http-client==3.2.7
requests==2.23.0
sendgrid==6.3.1
six==1.15.0
typed-ast==1.4.1
urllib3==1.26.5
